/* CSS Document */

#columnaderecha {
	margin-right: 10px;
	margin-left: 0;
	display: block;
	position: relative;
	float: left;
	margin-bottom: 10px;
	background-color: #F7F7F7;
	width: 100%;
}

.criterio_orden {
	margin-bottom: 10px;
	overflow: hidden;
}

.criterio_orden div.criterio_ordenamiento {
	font-size: 13px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #aa0707;
}

br {
    clear: left;
    text-align: left;
}

a.items_ordenamiento_azul {
    color:#980509;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
}

span.items_cantidad_azul {
	display: inline-block;
	font-size: 12px;
	color: #919191;
	float: right;
	margin-right: 10px;
}

.texto_filtro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

	.texto_filtro:hover {
		text-decoration: underline;
	}

a.items_ordenamiento_azul {
	padding-left: 15px;
	margin-right:10px;
	
}

.clickable a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	clear: both;
	color: #003478;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
	padding-top: 5px;
}

.items_ordenamiento_filtro_azul {
	text-align: center;
	position: relative;
}

.items_ordenamiento_filtro_azul input[type="checkbox"], .items_ordenamiento_filtro_azul input[type="radio"] {
    position: absolute;
    top: 0;
    right: 5px;
}

.selected-filter {
	background: #ccc;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	width: 86%;
	margin-left: 7%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	position: relative;
	margin-top: 10px;
}

.unset-selected {
	position: absolute;
	right: 8px;
	cursor: pointer;
	top: 0;
}

.selected-value {
	width: 86%;
	color: white;
}