/* Space out content a bit */
/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}
*/
/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
*/
/* Custom page header */
/*.header {
  border-bottom: 1px solid #e5e5e5;
}*/
/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.list-container {
  height: auto;
}

  .list-container figure > img {
    max-height: 120px;
  }

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*/

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
*/
/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
*/
/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
*/

/* Save & update */
.container strong, .container span{
  color: grey;
}

/* Real estate detail */


.detail-content{
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  z-index: 400;
  -webkit-overflow-scrolling: touch;
  color: black;
}

  .detail-content, .detail-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  .detail-loading {
    opacity: 1;
    z-index: 1;
    background: transparent url(../img/preloader.gif) no-repeat center center;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
  }
  .detail-icon {

  }

    .detail-icon:before {
      font-family: 'fontawesome';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

  .detail-close-content {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 10px;
    font-size: 1.6em;
    color: #aaa;
    cursor: pointer;
    pointer-events: none;
    padding: 1em;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    border: solid 1px black;
  }



  /* Featured styles */

.container {
  margin-top: -33px;
}

  .content {
    overflow: visible !important;
    visibility: visible !important;
    height: auto !important;
    position: relative !important;
    pointer-events: auto !important;
    background-color: #ececed !important;
  }

      .top-grids {
        background-color: #ececed !important;
        overflow: visible !important;
      }

        .top-grid:nth-child(3) {
          margin-right: 0 !important;
        }
  .content > div {
    opacity: 1 !important;
    position: relative !important;
    height: auto !important;
  }

  .camera_wrap {
    display: block !important;
  }

  .centered {
    text-align: center;
    margin-left: 0 !important;
  }


.above-container{
  width: 100%;
  position: absolute;
  height: 30px;
  top: -30px;
  text-align: left;
}

.message-container  {
  -webkit-transition: right 500ms ease;
   -moz-transition: right 500ms ease;
    -ms-transition: right 500ms ease;
     -o-transition: right 500ms ease;
        transition: right 500ms ease;
}