<div class="list-crud-container">
    <ul>
      <li ng-repeat="re in realEstates">
          <a ng-href="#/realEstates/upsert/{{re.id}}">
            <div class="re-container">
                {{re.title}}
            </div>
          </a>
          <div class="delete-real-estate-button" ng-click="deleteRealEstate(re)">
            Borrar.
          </div>
      </li>
    </ul>

    <a href="#/realEstates/upsert" class="new-property-anchor">
      <div>
          Nueva propiedad
      </div>
    </a>
</div>
