<div class="slider">					     
		<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">									           
			<div data-src="images/slider3.jpg">  </div> 
			<div data-src="images/slider2.jpg">  </div>
			<div data-src="images/slider4.jpg">  </div>
			<div data-src="images/slider1.jpg">  </div>
		</div>
		<div class="clear"> </div>					       
</div>					
 <!--End-image-slider---->
 <!---start-content---->
 <div class="content">
 	<div class="top-grids">
 		<div class="wrap">
	 		<div class="top-grid">
	 			<a href="#"><img src="images/icon1.png" title="icon-name"></a>
	 			<h3>Casa en Parque Rodó</h3>
	 			<p>Dueño vende o alquila $ 28.000, hermosa casa en régimen de padrón único al frente y próxima a Parque Rodó. La propiedad esta en buen estado. </p>
	 			<a class="button" href="destacada_uno.html">ver mas</a>
	 		</div>
	 		<div class="top-grid">
	 			<a href="#"><img src="images/icon11.png" title="icon-name"></a>
	 			<h3>Apartamento en la rambla</h3>
	 			<p>Última unidad en el edificio. Primera línea al mar sobre Rambla de Punta Carretas. Cuenta con pallier individual, recibidor y amplio living comedor.  </p>
	 			<a class="button" href="destacada_dos.html">ver mas</a>
	 		</div>
	 		<div class="top-grid last-topgrid">
	 			<a href="#"><img src="images/icon1.png" title="icon-name"></a>
	 			<h3>Casa en Malvin</h3>
	 			<p>Excelente propiedad horizontal compuesta por local comercial en planta baja más casa de altos. El local comercial consta de un salón de 121 m2. </p>
	 			<a class="button" href="destacada_tres.html">ver mas</a>
	 		</div>
	 		<div class="clear"> </div>
 		</div>
 	</div>
 	<div class="mid-grid">
 		<div class="wrap">
	 		<h6>Misión y Visión</h6>
	 		<p>" Nuestra misión es ofrecer Servicios Inmobiliarios de calidad, brindando a nuestros clientes asesorías  con  responsabilidad y eficacia en la administración de sus propiedades, en la adquisición o venta de bienes inmuebles y en la promoción de proyectos de constructores en general. Nuestros sólidos principios éticos, fuerte compromiso y responsabilidad, nos han guiado y nos avalan. "</p>
	 		<p>" Proyectándonos hacia el futuro nos avocamos a desarrollar una empresa líder en el mercado basada en la ética y en la eficacia garantizando satisfacer las necesidades de nuestros clientes; basados en un espíritu fuerte de cooperación, apostando al trabajo en equipo, como forma de garantizar el éxito. "</p>
	 		
 		</div>
 	</div>

 </div>