<div>
    <div>
      <section class="wrap">
        <div class="grid-wrap">
          <div class="grid row-with-filter">
            <h3 class="estates-title">propiedades</h3>

            <infinite-scroll list="realEstates" class="list-container">         
                <div ng-if="filteredList.length > 0">
                    <figure class="real-estate-container" ng-repeat="estate in filteredList" ng-click="setCurrentDetail(estate)">
                        <img ng-if="estate.imageList[0]" ng-src="{{estate.imageList[0].path}}" alt="img01" class="image-property"/>
                        <img ng-if="!estate.imageList[0]" ng-src="3DGridEffect/img/1.jpg" alt="img01" class="image-property"/>
                        <h4>{{estate.title}}</h4>
                        <div class="price-container">
                            <span ng-show="estate.salePrice">
                              Venta {{estate.currency.label}} {{estate.salePrice}} 
                            </span>
                            <span ng-show="estate.rentPrice">
                              Alquiler {{estate.currencyRent.label}} {{estate.rentPrice}}
                            </span>
                        </div>
                        <p class="estate-description">
                          {{estate.description | ellipsis : 25}}
                        </p>
                        <div class="gallery-button"><a href="#">ver mas</a></div>
                    </figure>
                </div>

                <div ng-if="filteredList.length == 0" class="correct-inner-text">
                    No hay propiedades que coincidan con los filtros seleccionados.
                </div>
            
            </infinite-scroll>
          </div>
     <div class="message-container" ng-class="{'displayed': displayed}">
        <div ng-click="toggleFilterPosition()" class="above-container">Click</div>
      <div class="filters-container" ng-class="{'filters-container-open': filterViewMore}">

        <div id="columnaderecha">
        <!-- Abre columnaderecha -->
        <div id="ordenamiento" class="ordenamiento_verde">
            <!-- Abre ordenamiento -->
            
            <!-- List of filters (reduced version) (TODO filter first 3 or 4 of ng-repeat) -->
            <div ng-repeat="data in filterData" class="criterio_orden" filter-section filter-data="data"> 

            </div>

            <!-- List of filters (full version) (entire ng repeat)-->
            <div ng-show="filterViewMore">
  
                <!-- Precio -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Precio</span><br>
                        <div id="Div_Inmueble">
                            <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="1 - 50.000">
                            <span class="texto_filtro">1 - 50.000</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="50.001 - 100.000">
                                <span class="texto_filtro">50.001 - 100.000</span>
                                <input type="checkbox" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="100.001 - 200.000">
                                <span class="texto_filtro">100.001 - 200.000</span>
                                <input type="checkbox" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="Más de 200.000">
                                <span class="texto_filtro">Más de 200.000</span>
                                <input type="checkbox" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                        </div>
                    </div>
                
                 <!-- Garage -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Garage</span><br>
                        <div id="Div_Inmueble">
                            <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="SI">
                            <span class="texto_filtro">SI</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="NO">
                                <span class="texto_filtro">NO</span>
                                <input type="radio" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                        </div>
                 </div>
                
                <!-- Metraje -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                  <span id="etiquetaInm" class="criterio_ordenamiento">Metraje</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="Hasta 50 m2">
                        <span class="texto_filtro">Hasta 50 m2</span>
                        <input type="checkbox" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="51 a 100 m2">
                            <span class="texto_filtro">51 a 100 m2</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                         <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="101 a 200 m2">
                            <span class="texto_filtro">101 a 200 m2</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Más de 200 m2">
                            <span class="texto_filtro">Más de 200 m2</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                
                <!-- Muebles -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Muebles</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Orientación -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Orientación</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="Frente">
                        <span class="texto_filtro">Frente</span>
                        <input type="checkbox" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Contrafrente">
                            <span class="texto_filtro">Contrafrente</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                         <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Interior">
                            <span class="texto_filtro">Interior</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Lateral">
                            <span class="texto_filtro">Lateral</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Más opciones -->
                <div class="clickable" id="clickable12346">
                  <a href="javascript:openclose_req(12346);">+ Más opciones</a>
                </div>
                
                <!-- Terraza -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Terraza</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Gastos Comunes -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Gastos Comunes</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="Mensual">
                        <span class="texto_filtro">Mensual</span>
                        <input type="checkbox" value="1" name="test[]" id="myid1">
                        </a>
                      </div>
                    </div>
                </div>   
                
                <!-- Vigilancia -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Vigilancia</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>      
                
                <!-- Linea Blanca -->    
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Linea blanca</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>                       
                
                <!-- Destacada -->    
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Destacada</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                      </div>
                    </div>
                    <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="NO">
                        <span class="texto_filtro">NO</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                     </div>
                 </div>
            </div>
                
          </div> 
            
        </div>
      </div> <!-- End filter container -->
      <div class="toggle-more" ng-hide="filterViewMore" ng-click="toggleViewMore()">Ver todos los filtros</div>
      <div class="toggle-more" ng-show="filterViewMore" ng-click="toggleViewMore()">Ver filtros básicos</div>
     </div><!-- End message container -->
    </div>

  </section>
</div>

    <real-estate-detail ng-if="currentDetail" estate="currentDetail">
        <span class="detail-loading"></span>
        <div class="detail-icon detail-close-content" ng-click="setCurrentDetail(false)">X</div>

        <div class="wrapper">
            <div id="banner" class="container-detail">
                <img ng-if="currentDetail.imageList[0]" ng-src="{{currentDetail.imageList[0].path}}" alt="img01"/>
                <img ng-if="!currentDetail.imageList[0]" ng-src="3DGridEffect/img/1.jpg" alt="img01"/>
            </div>
            <div id="welcome" class="container-detail">
                
            <div class="title">
                <h2>
                    {{currentDetail.title}}
                </h2>
                <h4>    
                    <span ng-show="currentDetail.salePrice">
                      Venta {{currentDetail.currency.label}} {{currentDetail.salePrice}} 
                    </span>
                    <span ng-show="currentDetail.rentPrice">
                      Alquiler {{currentDetail.currencyRent.label}} {{currentDetail.rentPrice}}
                    </span>
                </h4>
            </div>
                <p ng-bind="currentDetail.description"></p>
            </div>
            
            <div id="portfolio" class="container-detail"> 
                    
                <ul class="padding">
                    <li class="color"><p>OPERACION: Venta</p></li>
                    <li class="color"><p>INMUEBLE: {{currentDetail.type | labelType}}</p></li>
                    <li class="color">
                        <p>
                            DORMITORIOS: 
                            <ng-pluralize count="currentDetail.bedroomLength"
                                when="{0: 'Sin dormitorio',
                                       1: '1 dormitorio',
                                       'other': '{} dormitorios.'}">
                            </ng-pluralize>
                        </p>
                    </li>
                    <li class="color">
                        <p>BAÑOS: 
                            <ng-pluralize count="currentDetail.bathLength"
                                when="{0: 'Sin baño',
                                       1: '1 baño',
                                       'other': '{} baños.'}">
                            </ng-pluralize>
                        </p>
                    </li>
                    <li class="color">
                        <p>
                            PRECIO: 
                            <span ng-show="currentDetail.salePrice">
                              Venta {{currentDetail.currency.label}} {{currentDetail.salePrice}} 
                            </span>
                            <span ng-show="currentDetail.salePrice && currentDetail.rentPrice"> / </span>
                            <span ng-show="currentDetail.rentPrice">
                              Alquiler {{currentDetail.currencyRent.label}} {{currentDetail.rentPrice}}
                            </span>
                        </p>
                    </li>        
                </ul>
                
                <ul>
                    <li class="color"><p>METRAJE: {{currentDetail.yardage}} m2</p></li>            
                    <li class="color"><p>MUEBLES: {{currentDetail.furnished | booleanLabel}}</p></li>
                    <li class="color"><p>ORIENTACIÓN: {{currentDetail.orientation | orientationLabel}}</p></li>
                    <li class="color"><p>VIGILANCIA: {{currentDetail.vigilance | booleanLabel}}</p></li>
                    <li class="color"><p>LINEA BLANCA: {{currentDetail.whiteLine | booleanLabel}}</p></li>
                 </ul>
                
                <ul>
                    <li class="color"><p>GARAGE: {{currentDetail.garage | booleanLabel}}</p></li>
                    <li class="color"><p>TERRAZA: {{currentDetail.terrace | booleanLabel}}</p></li>
                    <li class="color"><p>GASTOS COMUNES: $880</p></li>
                    <li class="color"><p>DESTACADA: {{currentDetail.featured | booleanLabel}}</p></li>
                    <li class="color"><p>CANTIDAD DE VISITAS: XXX</p></li>     
                </ul>
              
            </div>
        </div>

    </real-estate-detail>   
</div>
