<div>
  Filtros:
  Busqueda: <input type="text" ng-model="filterData.generalSearch"/>
  Venta: <input type="checkbox" ng-model="filterData.sale"/>
  Alquiler <input type="checkbox" ng-model="filterData.rent"/>

  	<div>
	  <section>
	    <div class="grid-wrap">
	      <div class="grid row-with-filter">
	        <h3>propiedades</h3>

		 	<infinite-scroll list="realEstates" class="list-container">			
			 
				<figure ng-repeat="estate in filteredList" ng-click="setCurrentDetail(estate)">
					<img ng-if="estate.imageList[0]" ng-src="{{estate.imageList[0].path}}" alt="img01" class="image-property"/>
					<img ng-if="!estate.imageList[0]" ng-src="3DGridEffect/img/1.jpg" alt="img01" class="image-property"/>
					<h4>{{estate.title}}</h4>
					<p style="color:#666; font-size:12px">
						<span ng-show="estate.salePrice">
						  Venta {{estate.currency.label}} {{estate.salePrice}} 
						</span>
						<span ng-show="estate.rentPrice">
						  Alquiler {{estate.currencyRent.label}} {{estate.rentPrice}}
						</span>
						<p>
						  {{estate.description}}
						</p>
					</p>
				</figure>

		  	
			</infinite-scroll>
		  </div>
     <div class="message-container">
      <div class="filters-container" ng-class="{'filters-container-open': filterViewMore}">

        <div id="columnaderecha">
        <!-- Abre columnaderecha -->
        <div id="ordenamiento" class="ordenamiento_verde">
            <!-- Abre ordenamiento -->
            
            <!-- List of filters -->
            <div ng-repeat="data in filterData" class="criterio_orden" filter-section filter-data="data"> 

            </div>
                
                <!-- Baños -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Baños</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="1 baño">
                        <span class="texto_filtro">1 baño</span>
                        <input type="checkbox" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="2 baños">
                            <span class="texto_filtro">2 baños</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="3 baños">
                            <span class="texto_filtro">3 baños</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Más de 3 baños">
                            <span class="texto_filtro">Más de 3 baños</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                      </div>
                    </div>
                
                 <!-- Precio -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Precio</span><br>
                        <div id="Div_Inmueble">
                            <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="1 - 50.000">
                            <span class="texto_filtro">1 - 50.000</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="50.001 - 100.000">
                                <span class="texto_filtro">50.001 - 100.000</span>
                                <input type="checkbox" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="100.001 - 200.000">
                                <span class="texto_filtro">100.001 - 200.000</span>
                                <input type="checkbox" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="Más de 200.000">
                                <span class="texto_filtro">Más de 200.000</span>
                                <input type="checkbox" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                        </div>
                    </div>
                
                 <!-- Garage -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Garage</span><br>
                        <div id="Div_Inmueble">
                            <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="SI">
                            <span class="texto_filtro">SI</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                            </div>
                            <div class="items_ordenamiento_filtro_azul">
                                <a class="items_ordenamiento_azul" title="NO">
                                <span class="texto_filtro">NO</span>
                                <input type="radio" value="1" name="test[]" id="myid1">
                                </a>
                            </div>
                        </div>
                 </div>
                
                <!-- Metraje -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                  <span id="etiquetaInm" class="criterio_ordenamiento">Metraje</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="Hasta 50 m2">
                        <span class="texto_filtro">Hasta 50 m2</span>
                        <input type="checkbox" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="51 a 100 m2">
                            <span class="texto_filtro">51 a 100 m2</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                         <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="101 a 200 m2">
                            <span class="texto_filtro">101 a 200 m2</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Más de 200 m2">
                            <span class="texto_filtro">Más de 200 m2</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                
                <!-- Muebles -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Muebles</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Orientación -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Orientación</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="Frente">
                        <span class="texto_filtro">Frente</span>
                        <input type="checkbox" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Contrafrente">
                            <span class="texto_filtro">Contrafrente</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                         <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Interior">
                            <span class="texto_filtro">Interior</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                        
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="Lateral">
                            <span class="texto_filtro">Lateral</span>
                            <input type="checkbox" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Más opciones -->
                <div class="clickable" id="clickable12346">
                  <a href="javascript:openclose_req(12346);">+ Más opciones</a>
                </div>
                
                <!-- Terraza -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Terraza</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Gastos Comunes -->
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Gastos Comunes</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="Mensual">
                        <span class="texto_filtro">Mensual</span>
                        <input type="checkbox" value="1" name="test[]" id="myid1">
                        </a>
                      </div>
                    </div>
                </div>   
                
                <!-- Vigilancia -->
                 <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Vigilancia</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>      
                
                <!-- Linea Blanca -->    
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Linea blanca</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                        </div>
                        <div class="items_ordenamiento_filtro_azul">
                            <a class="items_ordenamiento_azul" title="NO">
                            <span class="texto_filtro">NO</span>
                            <input type="radio" value="1" name="test[]" id="myid1">
                            </a>
                        </div>
                    </div>
                </div>                       
                
                <!-- Destacada -->    
                <div id="Div_Cont_Inmueble" class="criterio_orden"> 
                    <span id="etiquetaInm" class="criterio_ordenamiento">Destacada</span><br>
                    <div id="Div_Inmueble">
                        <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="SI">
                        <span class="texto_filtro">SI</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                      </div>
                    </div>
                    <div class="items_ordenamiento_filtro_azul">
                        <a class="items_ordenamiento_azul" title="NO">
                        <span class="texto_filtro">NO</span>
                        <input type="radio" value="1" name="test[]" id="myid1">
                        </a>
                     </div>
                 </div>                                   
               
       <!-- Abre ordenamiento  </div>
            
            <div id="Div_Cant_Departamentos" class="criterio_orden"> 
              <span class="criterio_ordenamiento">Departamento</span><br>
                <div class="item_op">
                    <div class="item_op_top"> 
                    </div>
                </div>
                <div id="DivDepartamentos" class="item_op_med">
                
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/montevideo" title="Montevideo">
                    <span class="texto_filtro">Montevideo</span>
                    <span class="items_cantidad_azul"> (13961) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/maldonado" title="Maldonado">
                    <span class="texto_filtro">Maldonado</span>
                    <span class="items_cantidad_azul"> (1763) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/canelones" title="Canelones">
                    <span class="texto_filtro">Canelones</span>
                    <span class="items_cantidad_azul"> (1676) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/rocha" title="Rocha">
                    <span class="texto_filtro">Rocha</span>
                    <span class="items_cantidad_azul"> (109) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/san-jose" title="San Jose">
                        <span class="texto_filtro">San Jose</span>
                    <span class="items_cantidad_azul"> (56) </span>
                </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/lavalleja" title="Lavalleja">
                    <span class="texto_filtro">Lavalleja</span>
                    <span class="items_cantidad_azul"> (29) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/colonia" title="Colonia">
                    <span class="texto_filtro">Colonia</span>
                    <span class="items_cantidad_azul"> (27) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/florida" title="Florida">
                    <span class="texto_filtro">Florida</span>
                    <span class="items_cantidad_azul"> (20) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/durazno" title="Durazno">
                    <span class="texto_filtro">Durazno</span>
                    <span class="items_cantidad_azul"> (7) </span>
                    </a>
                </div>
                <div class="items_ordenamiento_filtro_azul">
                    <a class="items_ordenamiento_azul" href="/inmuebles/rivera" title="Rivera">
                    <span class="texto_filtro">Rivera</span>
                    <span class="items_cantidad_azul"> (6) </span>
                    </a>
                </div>
                <div class="clickable" id="clickable12346">
                <a href="javascript:openclose_req(12346);">+ Otros Departamentos</a>
            </div> -->  
          </div> 
            
    	</div>
      </div> <!-- End filter container -->
      <div class="toggle-more" ng-hide="filterViewMore" ng-click="toggleViewMore()">Ver mas...</div>
      <div class="toggle-more" ng-show="filterViewMore" ng-click="toggleViewMore()">Ver menos...</div>
     </div><!-- End message container -->
    </div>
    <!-- /grid-wrap -->
    <!-- <div class="content">
      <div>
                                         
         </div>
      <div>
        
      </div>
      <div>
        
      </div>
      <div>
        
      </div>
      <div>
        
      </div>
      <div>
        
      </div>
      <div>
        
      </div>
      <div>
        
      </div>
      <div>
        
      </div>
      <span class="loading"></span>
      <span class="icon close-content"></span>
    </div> -->


  </section>
</div>

  	<real-estate-detail ng-if="currentDetail" estate="currentDetail">
  		<span class="detail-loading"></span>
  		<!-- TODO: Seguir aca setCurrecntDetail no esta siendo llamado-->
    	<div class="detail-icon detail-close-content" ng-click="setCurrentDetail(false)">X</div>
  	</real-estate-detail>	
</div>
