<section class="grid3d vertical list-container" id="grid3d">
  <h3>propiedades</h3>
  <div class="grid-wrap">
    <div class="grid">

      <figure ng-repeat="estate in list">
        <img src="3DGridEffect/img/1.jpg" alt="img01"/>
        <h4>{{estate.title}}</h4>
        <p style="color:#666; font-size:12px">
           <span ng-show="estate.salePrice">
              {{estate.currency.label}} {{estate.salePrice}}
            </span>
            <span ng-show="estate.rentPrice">
              {{estate.currencyRent.label}} {{estate.rentPrice}}
            </span>
            <p>
              {{estate.description}}
            </p>
        </p>
      </figure>

    </div>
  </div><!-- /grid-wrap -->
  <div class="content">
    <div>
                                       
       </div>
    <div>
      
    </div>
    <div>
      
    </div>
    <div>
      
    </div>
    <div>
      
    </div>
    <div>
      
    </div>
    <div>
      
    </div>
    <div>
      
    </div>
    <div>
      
    </div>
    <span class="loading"></span>
    <span class="icon close-content"></span>
  </div>
</section>