<h3>Nueva propiedad</h3>

<form novalidate class="css-form">
	<strong>
		Titulo:
	</strong>
	<input type="text" ng-model="realEstate.title" required /><br />

	<strong>
		Description:
	</strong>
	<input type="text" ng-model="realEstate.description" required /><br />
	
	<strong>
		Tipo:
	</strong>
	<input type="radio" ng-model="realEstate.type" value="house" /><span>Casa</span>
	<input type="radio" ng-model="realEstate.type" value="apartment" /><span>Apartamento</span>
	<input type="radio" ng-model="realEstate.type" value="terrain" /><span>Terreno</span><br />

	<strong>
		Tipo de transaccion
	</strong>
	<input type="checkbox" ng-model="realEstate.sale"/><span>Venta</span>
	<div ng-show="realEstate.sale">
		<span>Importe de venta</span>
		<input type="text" ng-model="realEstate.salePrice"/>
		<input type="radio" ng-model="realEstate.currency.val" value="s" ng-change="setRealEstateCurrency('s', 'sale')"> Pesos <br/>
		<input type="radio" ng-model="realEstate.currency.val" value="us" ng-change="setRealEstateCurrency('us', 'sale')"> Dolares <br/>
	</div><br />
	<input type="checkbox" ng-model="realEstate.rent"/><span>Alquiler</span>
	<div ng-show="realEstate.rent">
		<span>Importe de alquiler</span>
		<input type="text" ng-model="realEstate.rentPrice"/>
		<input type="radio" ng-model="realEstate.currencyRent.val" value="s" ng-change="setRealEstateCurrency('s', 'rent')"> Pesos <br/>
		<input type="radio" ng-model="realEstate.currencyRent.val" value="us" ng-change="setRealEstateCurrency('us', 'rent')"> Dolares <br/>
	</div>

	<input type="file" ng-file-select="onFileSelect($files)">

	<br /><br />

	<button ng-show="realEstate.id" ng-click="update()">Actualizar</button>
	<button ng-hide="realEstate.id" ng-click="save()">Salvar</button>
</form>