<!-- start-content -->
         <div class="content">
            <!-- start-contact -->
            <div class="contact wrap">
                <div>
                <div class="section group">             
                    <div class="col span_1_of_3">
                        
                    <div class="company_address">
                            
                                    <p>Rocha 2475,</p>
                                    <p>Montevideo - Uruguay,</p>
                                    
                            <p>Tel.: (598-2) 2487 37 62 - 2203 36 67</p>
                            <p>Cel.: 099 674 206</p>
                            <p>Correo Electrónico: <span>atenasinmob@gmail.com</span></p>
                            <p>Encuéntranos en: <span>Mercado Libre</span></p>
                    </div>
                    </div>  
                                
                    <div class="col span_2_of_3">                    
                      <div class="contact-form">
                        <h3>CONTACTO</h3>
                            <form method="post" action="contact-post.html">
                                <div>
                                    <span><label>NOMBRE</label></span>
                                    <span><input name="userName" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>CORREO ELECTRÓNICO</label></span>
                                    <span><input name="userEmail" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>TELÉFONO</label></span>
                                    <span><input name="userPhone" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>MENSAJE</label></span>
                                    <span><textarea name="userMsg"> </textarea></span>
                                </div>
                               <div>
                                    <span><input type="submit" value="Enviar"></span>
                              </div>
                            </form>   
                      </div>
                    </div>  
                                
              </div>
              
              </div>
              
            </div>
            
            </div>
            <!-- End-contact -->
         <!-- End-content -->