<span class="criterio_ordenamiento">{{filterData.label}}</span><br>
<div ng-hide="selection">
	<div class="criterio_orden"> 
        <div class="items_ordenamiento_filtro_azul" ng-repeat="(attr, data) in filterData.data">
            <a class="items_ordenamiento_azul" title="{{data.label}}">
            	<span class="texto_filtro" ng-click="setSelection(attr, data.label)">{{data.label}}</span>
            </a>
        </div>
    </div>
</div>
<div ng-show="selection">
	{{selection.value}} <span ng-click="unsetSelection()">X</span>
</div>